{% extends 'base.html' %}
{% block app_content %}
    <h3>{{ 'Avaliações de ' }}{{ disciplina.nome }}</h3>
    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Situação</th>
            <th>Acertos</th>
          </tr>
        </thead>
        <tbody>
            {% set ids = [] %}
            {% for avaliacao in disciplina.avaliacoes %}
                <tr>
                {% for resposta in respostas %}
                    {% if avaliacao.id_avaliacao == resposta.avaliacao_id %}
                        {{ ids.append(avaliacao.id_avaliacao)}}
                        <td>{{ avaliacao.nome }}</td>
                        <td>{{ 'finalizada' }}</td>
                        <td>{{ resposta.count }}</td>
                    {% endif %}
                {% endfor %}

                    {% if avaliacao.id_avaliacao not in ids %}
                        <td><a href='/avaliacao?id_avaliacao={{ avaliacao.id_avaliacao }}'>{{ avaliacao.nome }}</a></td>
                        <td>{{ 'a ser iniciada' }}</td>
                        <td><p>{{ '-' }}</p></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}