{% extends 'base.html' %}
{% block app_content %}
    <h3>{{ 'Avaliações de ' }}{{ disciplina.nome }}</h3>
    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Situação</th>
            <th>Acertos</th>
          </tr>
        </thead>
        <tbody>
            {% for avaliacao in avaliacoes %}
                <tr>
                    <td><a href='/avaliacao?id_avaliacao={{ avaliacao.id_avaliacao }}'>
                        {{ avaliacao.nome }}
                    </a></td>
                    <td>{{ oi }}</td>
                    <td><p>{{ oi }}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}