{% extends 'base.html' %}
{% block app_content %}
    <h3>{{ 'Avaliações de ' }}{{ disciplina.nome }}</h3>
    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Situação</th>
            <th>Acertos</th>
          </tr>
        </thead>
        <tbody>
            {% for avaliacao in avaliacoes %}
                <tr>
                    {% if avaliacao in usuario.avaliacoes %}
                        <td>{{ avaliacao.nome }}</td>
                        <td>{{ 'finalizada' }}</td>
                        <td><p>{{ respostas.respostas_corretas }}</p></td>
                        {% else %}
                        <td><a href='/avaliacao?id_avaliacao={{ avaliacao.id_avaliacao }}'>{{ avaliacao.nome }}</a></td>
                        <td>{{ 'a ser iniciada' }}</td>
                        <td><p>{{ '-' }}</p></td>
                        {% endif %}


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}