{% extends 'base.html' %}
{% block app_content %}
    <table class="table">
        <thead>
          <tr>
            <th>Disciplinas</th>
            <th>Avaliações (Feitas / total)</th>
          </tr>
        </thead>
        <tbody>
            {% for disciplina in usuario.disciplinas %}
                {% set ns = namespace(items=0) %}
                <tr>
                    <td><a href='/avaliacoes?disciplina={{ disciplina.nome }}'>
                        {{ disciplina.nome }}
                    </a></td>
                    {% for avaliacao in disciplina.avaliacoes %}
                        {% for resposta in respostas %}
                            {% if resposta.avaliacao_id == avaliacao.id_avaliacao %}
                                {% set ns.items = ns.items + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <td><p>{{ ns.items|string+'/'}}{{disciplina.avaliacoes|length }}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}